body{
    margin: 20px;
 } 
 .jumbotron{
    background-color:rgb(243, 198, 115);
}
.container-fluid{
    background-color: rgb(240, 81, 108);
    border: 3px rgb(243, 198, 115) solid;
    margin-bottom: 30px;
    justify-content: center;
}

.employee-card{
    border: 3px rgb(243, 198, 115) solid;
    margin:8px;
}
.header-manager{
    background-color:rgb(240, 81, 108);
}

.header-intern{
    background-color:rgb(235, 181, 190)
}
.header-engineer{
    background-color:rgb(241, 118, 141)
}
.team-area{
    flex-wrap: wrap;
}
.container{
    justify-content: center;
}