body{
    margin: 20px;
 } 
 .jumbotron{
    background-color:rgb(243, 198, 115);
}
.container-fluid{
    background-color: rgb(240, 81, 108);
    border: 3px rgb(243, 198, 115) solid;
    margin-bottom: 30px;
    justify-content: center;
}

.employee-card{
    border: 3px rgb(243, 198, 115) solid;
    margin:8px;
}
.card-header{
    background-color:rgb(240, 81, 108);
}
#card-cont{
    justify-content: center;
    margin-bottom: 30px;
}
